<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <head>
    <title>
      Mars Street View
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/skeleton.css">
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <link rel="stylesheet" type="text/css" href="../static/map.css">


    {% raw %}
    <script id="cam-template" type="text/x-handlebars-template">
          <img src="{{0}}" id="{{short_name}}">
          <h5>{{name}}<h5>

    </script>
    {% endraw %}

  </head>
  <!-- BODY -->
  <body>

    <!-- HEADER / NAV -->
    <header class="top_header">
      <div>MARS STREET VIEW</div>
    </header>
    <section class='header'>
      <div class="logo">
        <img id="logo" src="../static/logo.png">
        <h1 id="title_header">MARS STREET VIEW</h1>
      </div>
      <nav class="nav">
        <ul>
          <li class="nav_item"><a href="">HOME</a></li>
          <li class="nav_item"><a href="">ROVER</a></li>
          <li class="nav_item"><a href="">HISTORY</a></li>
        </ul>
      </nav>
      <div class="space"></div>
    </section>

    <!-- HOME CONTAINER -->
    <article class="container">
      <section class="main-menu row" id="menu-home">

        <!-- MAR GLOBE -->
  			<section class="planet-menu six columns">
  				<figure class="mars">
  					<span class="caps"></span>
  					<span id="opportunity" class="map-loc"></span>
  					<span id="curiosity" class="map-loc"></span>
  					<span id="spirit" class="map-loc"></span>
  				</figure>
  			</section>

        <!-- ALL ROVER INFO -->
  			<section class="info six columns">
  				<article class="rover-info hidden" rover="Opportunity">
  					<h1>Opportunity</h1>
  					<p>
  						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  					</p>
  				</article>
  				<article class="rover-info hidden" rover="Curiosity">
  					<h1>Curiosity</h1>
  					<p>
  						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  					</p>
  				</article>
  				<article class="rover-info hidden" rover="Spirit">
  					<h1>Spirit</h1>
  					<p>
  						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  					</p>
  				</article>
  			</section>
  		</section>

      <!-- ROVER PAGE -->
      <section id="rover-view" class="hidden">
        <form class="rover-form">

          <article class="next">
            <img src="../static/arrow-up.png" id="next-photo">
            <img src="../static/arrow-up.png" id="next-sol">
          </article>

          <img src="" id='main-photo'/>

          <article class=prev>
            <img src="../static/arrow-down.png" id="prev-photo">
            <img src="../static/arrow-up.png" id="prev-sol">
          </article>

          <section class="cam-buttons"></section>
        </form>
      </section>
    </article>

    <!-- FOOTER -->
  	<footer class="footer">
      &copy; 2016 | Mars Street View
  	</footer>

    <!-- SCRIPT TAGS -->

    <!-- JQUERY CDN SCRIPT -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- HANDLEBARS CDN SCRIPT -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- HOME PAGE SCRIPT -->
    <script type='text/javascript' src="static/scripts/mainView.js"></script>

    <!-- ROVER HOME PAGE -->
    <script type='text/javascript' src='static/scripts/rover.js'></script>
  </body>
</html>
