
.planet-menu {
	display: block;
	width: 100%;
}
.hidden {
	display: none;
}
.mars {
	display: block;
	background: black;
	border-radius: 50%;
	height: 400px;
	width: 400px;
	margin: 0;
	background: radial-gradient(circle at 115px 115px, #EB0518, #000);
	position: relative;
}
.mars .caps {
	width: 160px;
	height: 50px;
	margin: 30%;
	background: white;
	border-radius: 50%;
	transform: translateX(-15px) translateY(-115px) skewX(0deg) skewY(-5deg);
	position: absolute;
	box-shadow: 0px 4px 4px rgba(255,136,31,0.6);
}
.mars #opportunity {
	width: 15px;
    height: 15px;
    margin: 30%;
	background: black;
	background-image: url('/static/rover.png');
	border-radius: 50%;
	transform: translateX(-40px) translateY(20px) skewX(0deg) skewY(0deg);
	position: absolute;
}
.mars #curiosity {
	width: 15px;
    height: 15px;
    margin: 30%;
	background: black;
	border-radius: 50%;
	transform: translateX(160px) translateY(100px) skewX(0deg) skewY(0deg);
	position: absolute;
}
.mars #spirit {
	width: 15px;
    height: 15px;
    margin: 30%;
	background: black;
	border-radius: 50%;
	transform: translateX(200px) translateY(160px) skewX(0deg) skewY(0deg);
	position: absolute;
}
