
#rover_view {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.rover-form {
	display: flex;
}

/*.next, .prev {
	display: inline-flex;
}

.next img, 

.prev img{
	justify-content: flex-end;
}
*/